@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    background-color: #000000;
    color: #fff;

}
.container{
    display: flex;
}
.sidebar{
    background-color: rgba(41, 44, 30, 0.555);
    width: 350px;
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    height: 100vh;
}
.sidebar nav{
    padding: 45px;
    margin-top: 50px;
}
.sidebar nav li{
    list-style: none;
    font-size: 22px;
    padding: 23px 0px;
}
.sidebar nav li a{
    text-decoration: none;
    color: white;
}
.main {
    /* background-color: red; */
    width: 83vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.infoContainer{
    /* background-color: cyan; */
    height: 70vh;
    width: 80vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.devInfo{
    margin-left: 3rem;
    /* margin-right: 1rem; */
}
.devPic img{
    width: 60vh;
    margin: auto auto;
}
.hello{
    font-size: 4rem;
}
.name{
    font-size: 3rem;
    /* font-weight: bold; */
    font-family: "Source Code Pro", monospace;
    word-spacing: -15px;
}
.about{
    font-size: 2rem;
}

.moreAbout{
    font-size: 17px;
    margin: 20px 0px;
    text-align: justify;
}

.buttons button{
    background-color: #462c2c;
    color: white;
    margin: 20px 5px;
    padding: 12px 22px;
    border-radius: 2rem;
    border: none;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;

}
.buttons button:hover{
    background-color: #462c2cab;
    color: white;
    transition-duration: 0.3s;
}


/* Contact Section  start from hear*/

.contactInfo{
    font-family: "Source Code Pro", monospace;
    padding: 100px;
    
}
.contactInfo h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 50px;
    margin-top: -200px;

}
form{
    margin: 60px;
}
.mb-3{
    margin: 20px 0px;
}
.cbtn{
    font-size: 28px;
}

@media(max-width:1080px){
    /* *{
        background-color: red;
    } */

    .sidebar{
        transform: translateX(-400px);
        position: absolute;
        
    }
    .main{
        margin-top: 150px;
    }
}
    
.menu{
    width: 42px;
    cursor: pointer;
    position: absolute;
    top: 0;
}
